/* You can add global styles to this file, and also import other style files */
@import url('http://fonts.cdnfonts.com/css/mark-pro?styles=78509,78511');
@import url('https://fonts.googleapis.com/css2?family=Roboto&dis');

html,
body {
  /* display: flex; */
  flex-direction: column;
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  background-color: #ffffff;
}

/* 404 PAGE */
// .cmp-image__image {
//   width: 55%;
// }

// .cmp-title__text {
//   margin-bottom: 7%;
//   font-size: 24px;
// }

.text-format-1 {
  /* I have bad news for you */
  display: flex; 
  width: 586px;
  height: 190px;
  left: 735px;
  margin-left: 5px; 

  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 70px;
  letter-spacing: -0.035em;

  /* Gray 1 */
  color: #333333;
}

.text-format-2 {
  /* The page you are looking for might be removed or is temporarily unavailable */
  display: flex; 
  width: 381px;
  height: 108px;
  left: 736px;
  margin-top: 1%;
  margin-left: 5px;  

  font-family: 'Space Mono' !important;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: -0.035em;

  /* Gray 2 */
  color: #4F4F4F;
}

/* HOME PAGE */
.home-img-ball {
  position: absolute;
  width: 400px;
  margin-top: 107px;
}

.home-img-logo {
  width: 55% !important;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.div-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  font-family: 'Mark Pro';
  font-style: normal;
  color: #222222;      
  }

.city {
  width: 50%;
  height: 30px;
  display: flex;
  align-items: flex-end;  
  justify-content: flex-end;
  font-family: 'Poppins';
  padding-left: 40%;
}

.container-icon-temp{
  display: flex;
  justify-content: flex-end;
  width: 50%;
  height: 30px;
  padding-left: 40%;
}

.icon {
  height: 60px;
}

.temp {
  font-size: 48px;
  font-family: 'Poppins';
}

.current-time {
    font-weight: 700;
    font-size: 7em;
    line-height: 7rem;
}

.current-date {
    font-weight: 400;
    font-size: 14px;
}

.home-mission-red {
  float: right;
  margin-right: 2.6em;
  margin-bottom: -0.8em;
  margin-top: 6%;

  font-family: 'Mark Pro';
  font-style: normal;
  font-weight: 700;
  font-size: clamp(0.65em, 1.58vw, 2em);
  line-height: 0%;
  color: red;
}

.home-text-red {
  float: right;
  margin-right: 1.5em;
  margin-bottom: -0.7em;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: clamp(0.65em, 3vw, 3em);
  line-height: 0%;
  color: red;
}

.home-mission-black {
  float: right;
  margin-right: 4.5em;
  margin-bottom: -0.9em;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: clamp(0.75em, 1vw, 1.3em);
  line-height: 0%;
  color: #222222;
}

.container-height-full {  
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
}

/* FOOTER  */
.footer-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 10%;
  height: 80px;
  width: 100%;
  background: linear-gradient(90.16deg, #33383d 0%, #1c1d20 100%);
}

.footer {
  display: flex;
  align-items: center;

  padding-left: 20px;
  padding-right: 20px;

  font-family: 'Mark Pro';
  font-style: normal;
  font-weight: 400;

  color: #ffffff;
}

.footer__item--p-essa-janela {
    width: 33%;
    font-size: clamp(0.6em, 0.8vw, 3em);
    text-align: right;
}

.footer__item--p-application-refresh {
    width: 50px;
    margin-left: 5%;
    font-size: 14px;
    text-align: right;
}

.footer__item--app-counter {
    width: 490px;
}

.footer__item--a-continuar-navegando {
    background: #ffffff;
    font-size: 12px;
    color: #c13216;
    text-align: center;
    width: 100px;
}

.footer__item--a-logout {
    font-size: 12px;
    padding-right: 30px;
}

.footer-vertical-line-before-search {
    border-left: 1px solid white;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
}

.footer-vertical-line-after-search {
    border-left: 1px solid white;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
}

/* LOGIN */
.login-container-computer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  color: #e0e0e0;
  position: fixed;
  width: 58%;
  height: 715px;
  background: url('/content/dam/angularapp/login.png');
  background-repeat: no-repeat;
  background-size: 86% 100%;
  background-color: #1c1d20;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  color: #e0e0e0;
  // position: absolute;
  width: 100%;
  height: 715px;
  background-color: #1c1d20;
}

.login-logo-image {
  display: flex;
  justify-content: center;
  position: static;
  margin-left: 8%;
  margin-top: -322px;
}

.login-text-ola {  
  font-family: 'Poppins';
  font-style: normal;  
  font-size: 60px;
  line-height: 76px;
  margin-top: -20%;
}

.login-text-para-continuar {
    font-size: 16px;
    width: 277px;
    margin-top: -40%;
}

.login-text-login {
    font-size: 30px;
    line-height: 38px;
    margin-top: -26%;
}


/* responsiveness */
@media screen and (max-width: 1000px) {
/* HOME */
  .div-container {
    padding-left: 180% !important;  
  }

  .city {
    margin-right: 100px;
    width: max-content;
  }

  .icon {
    display: flex;
  }
  
  .Container {
    display: none;
  }

  .current-time, .current-date {
      display: none;
  }

  .home-img-logo, img {
    margin-top: 4% !important;
    width: 100% !important;
    display: block;
  }

  .home-img-ball{
    margin-top: 128px;
  }

  .footer-container {
    justify-content: end;
    flex-direction: row-reverse;
    bottom: 8%;
  }

  .footer__item--app-counter {
    display: none;
  }

  .footer__item--p-essa-janela {
    display: none;
  }
  
  .footer-vertical-line-before-search {
    display: none;
  }
  
  .footer__item--p-application-refresh {
    display: none;
  }

  .footer__item--a-continuar-navegando {
    padding-right: 200px;
  }

  .footer {
    padding-left: 110px;
  }
  /* END HOME */
}